# Задача 0 Оформление ноутбука 
## Номер задачи - заголовок 2
### Номер подзадачи - заголовок 3

# Задача 1
## Условие 2:
На складе лежат разные фрукты в разном количестве.
Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе

In [1]:
def fruits (**kwargs):
    total_fruits = sum(kwargs.values())
    return f'Total fruits: {total_fruits}'

In [2]:
print(fruits(яблоки=2, груши = 12, вишня = 40))

Total fruits: 54

# Задача 2:
Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты
[100, 125, -90, 345, 655, -1, 0, 200]
Используйте list comprehensions

In [3]:
list_one = [100, 125, -90, 345, 655, -1, 0, 200]
list_second = []
for i in list_one:
    if i > 0:
        list_second.append(i)
print (list_second)

[100, 125, 345, 655, 200]

In [4]:
data_list = [i for i in list_one if i > 0]
data_list

[100, 125, 345, 655, 200]

# Задача 3:
Даны два списка.
Дата покупки
<br>
['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
<br>
Суммы покупок по датам
<br>
[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

In [5]:
date_list = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', 
            '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', 
            '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', 
            '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
sum_cost_date = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592,
                 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

### 4.1 Найдите, какая выручка у компании в ноябре
Используйте list comprehensions

In [6]:
def november(data1: list, data2: list) -> list:
    
    new_data_list = []
    
    for i in range(len(data1)-1):
        if '-11-' in data1[i]:
            new_data_list.append(data2[i])
            
    return new_data_list

In [7]:
print(november(date_list, sum_cost_date))
print(f'Profit: {sum(november(date_list, sum_cost_date))}')

[4944, 3701, 7037, 4274, 2004, 2822, 316]
Profit: 25098

### 4.2 Найдите выручку компании в зависимости от месяца
Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.
Используйте аннотирование типов.

In [11]:
def profits(data1: list, data2: list) -> dict:
    
    profits = {}
    
    for i in range(len(data1)):
        
        if date_list[i].split('-')[1] in profits.keys():
            profits[date_list[i].split('-')[1]] += sum_cost_date[i]
        else:
            profits[date_list[i].split('-')[1]] = sum_cost_date[i]
            
    return profits

print(profits(date_list, sum_cost_date))

{'09': 25647, '12': 45452, '10': 28645, '11': 25098}